:root{
    --blue:#89cff0;
}
html{
    scroll-snap-type: y mandatory;
}
.left{
    background-color:transparent;
    width: 45%;
    font-size: 100%;
}
#projektek::before{
    transform: scaleY(-1);
}
#projektek{
   background-color:black;
  color: #fefefe;
  margin: 0%;
  padding: 20px;
}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("pics/bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  color: black;

}
#header p{
  text-align: justify;
}

.vagjunkBele{
  background-color: lightgray;
  border: black 2px solid;
  text-decoration: none;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.sections{
  height: 100vh;
  scroll-snap-align: start;
  padding: 100px;
}
.card {
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 200px;
  text-align: center;
  margin:10px 5px ;
  margin-left:10px ;
  color: #fefefe;
  background-color: transparent;
  border: 2px solid white;
}
.card h4{
  margin-top: 10px;
}
.cards{
  width: 100%;
  padding: auto;
  margin-top:50px ;
}
.card img{
  height: 50%;
}

#nyelvek{
  padding: 20px;
  background-color: black;
  color: #fefefe;
}
#kapcsolatok{
  background-image: url(pics/bg2_down.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fefefe;
  padding: 10px 20px;
}

.checked{
  color: #ffb62e;
}
@media only screen and (max-width: 700px), (max-height:600px) {
  #header .left {
   width: 100%;
   padding: 20px;
  }
  #header {
    padding:20px;
  }


  .card{
    height: 150px;
    width: 150px;
  }
  
  .card h4, .card span{
    font-size:smaller;
  }
  .cards{
    margin-top:0px;

  }
}
@media only screen and (max-width: 400px), (max-height:400px) {
  #header .left {
   width: 100%;
   padding: 20px;
  }
  #header {
    padding:20px;
  }


  .card{
    height: 125px;
    width: 125px;
  }
  
  .card h4, .card span{
    font-size:x-small;
  }
  .cards{
    margin-top:0px;

  }
}